html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}

.barra {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar-items {
}

.navbar li a {
  color: #003366;
  margin-right: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-brand {
  width: 10rem;
  height: 10rem;
}

.contenedor {
  width: 120rem;
  margin: 0 auto;
}

.nav-text {
  color: #003366;
  text-decoration: none;
  background-color: #ffaa00;
  padding: 1rem;
  border-radius: 2rem;
}

.banner-container {
  background-image: url(../img/banner.png);
  height: 60rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-items{
  align-items: start;
}

.text-01{
  color: #FFAA00;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-items h1{
  color: white;

}
.banner-items h2{
  color: #A3D9A5;
}

.text-02{
  color: white;
}

.banner-container a{
  text-decoration: none;
  margin-top: 2rem;
}

.cotizacion{
  margin-right: 2rem;
  color: #003366;
  background-color: #FFAA00;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: bold;
}

.servicios{
  color: white;
}

.nosotros{
  width: 120rem;
  display: flex ;
  margin: 0 auto;
  margin-top: 2rem;
}

.nosotros-text{
  
}

.nosotros-title{
  color: #FFAA00;
  font-weight: bold; 
  text-transform: uppercase;
}

.nosotros h2{
    color: #003366;

}

.nosotros-img img{
  border-radius: 2rem;
}

.footer{
  display: flex;  
  flex-direction: column;
  background-color: #003366;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding-left: 20rem;
  padding-right: 20rem;
  border-bottom: solid .1rem white;
  padding-bottom: 2rem;
}

.footer-title h2{
  color: #FFAA00;
}
.footer-title p{
  color: white;
}
.footer-links{
  color: white;
  display: flex;
  flex-direction: column;
}
.footer-links a{
  color: white;
  text-decoration: none;
  margin-top: .5rem;
}
.footer-items{
  margin-right: 2rem;
}

.footer-contact{
  color: white;
}

.copy{
  text-align: center;
  color: white;
}



.contenedor-valores{
  background-color: #003366;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-items: start; */
  box-sizing: border-box;
  padding: 2rem 30rem;
  height: 40rem;
}

.cards{
  display: flex;
  /* justify-content: space-between;; */
  /* padding: 2rem; */
  /* margin: 0 auto; */
  box-sizing: border-box;
}

.card{
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
  margin: 1rem;
  box-sizing: border-box;
}

.valores-text p{
  color: #FFAA00;
}

.valores-text h2{
  color: white;
}

.cards span{
  color: #FFAA00;
  font-weight: bold;
}
.cards h3{
  color: #003366; 
}
.valores-text{
  margin-top: 1rem;
}

.servicios-container{
  /* background-color: green; */
  padding: 2rem 30rem;
}

.servicios-titulo{
  color: #FFAA00;
  text-transform: uppercase;
  font-weight: bold;
}
.servicios-text/*  */ h2{
  color: #003366;
}
  
.cards-services-container{
  /* background-color: white; */
  display: flex;
}

.cards-services{
  border: solid .1rem black;
  border-radius: 2rem;
  padding: 2rem;
  margin: 1rem;
}

.cards-services div{
  background-color: #A3D9A5;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.6rem;
}

.cards-services h3{
  color: #003366;
}
.cards-services ul li{
  margin-top: 1rem;
}

.cobertura-container{
  background-color: #D9D9D9;
  padding: 2rem 30rem;
}

.cobertura-contenido{
  display: flex;
}
.cobertura-titulo{
  color: #FFAA00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem;
}
.cobertura-01, .cobertura-02{
  margin: 1rem;
}
.cobertura-01 h2{
  color: #003366;
}

.cobertura-02{
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
}
.cobertura-02 h3{
  color: #003366;
}

.cobertura-02 span{
  background-color: #003366;
  color: white;
  padding: 1rem;
  border-radius: 1.5rem;
  flex: 0 0 calc(100%/5);
  margin: .3rem;
  text-align: center;
}
.ciudades{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.contacto-container{
  display: flex;
  justify-content: space-between;
  padding: 2rem 40rem;
}

.contacto-titulo{
  color: #FFAA00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}
.contacto-01 h2{
  color: #003366;
}
.datos-contacto{
  background-color: #D9D9D9;
  padding: 2rem;
  border-radius: 2rem;
}

.formulario-contacto{
  display: flex;
  flex-direction: column;
  border: solid .1rem black ;
  border-radius: 1rem;
  padding: 2rem;
  width: 40rem;
}

.formulario-contacto div{
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.formulario-contacto div label{
  color: #003366;
  margin-bottom: 1rem;
  font-weight: bold;
}
.formulario-contacto div input{
  padding: .8rem;
  border-radius: .8rem;
  border: solid .1rem black;
}

.formulario-contacto button{
  background-color: #FFAA00;
  color: #003366;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  font-weight: bold;
  margin-top: 1rem;
}

.formulario-contacto div textarea{
  padding: .5rem;
  border-radius: .8rem;
}